body {
    background-image: url('img/bg-color.jpg');
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 85%;
    text-align: left;
    margin: 0px;
    padding: 0px; 
}

.body {
    width: 72.5%;
    margin: 0 auto;
    clear: both;
}

.header {
	height: 281px;
	width: 100%;
    /* background-image: url('img/headerimage.png');
    background-attachment: fixed;
	background-image: repeat-x; */
	margin-top: 1%;
	border-style: solid;
	border-color: lawngreen;
	border-radius: 10px;
	position:relative;
}

.upperRight{
	background-color: yellowgreen;
	position: absolute;
    top: 1px;
    right: 1px;
	padding-right: 2%;
}

.logo {
	top: 40px;
    left: 30px;
	position: absolute;
}

.nav {
    height: auto;
	width: auto;
	font-size: 18px;
	background-color: yellowgreen;
    border-radius: 5px;

	padding-top:-1%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: -1%;
	float: left;
	bottom: 1px;
	position: absolute;
}

.mainContent {
	height:auto;
	width: 100%;
    margin-top: 5px;
}

.contentLeft{
	height: auto;
    width: 60%;
    background-color: white;
	padding-top: 2%;
	padding-left: 2%;
    float: left;
	border-style: solid;
    border-color: lawngreen;
	border-radius: 10px;
}

.contentRight{
	height: auto;
    width: 34%;
    background-color: white;
	padding-top: 2%;
	padding-left: 2%;
    float: right;
    border-radius: 10px;
	border-style: solid;
    border-color: lawngreen;
}

.footer {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    margin-top: 5px;
	padding-top: 5px;
    background-color: #ff7000;
    float:left;
    border-radius: 10px;
}